{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Hello, User!</h1>
    <p class="lead">This is a sample interface for Data Science project Dashboard</p>
    <hr class="my-4">
    <p>This site is under development</p>
    <div class="container">
        <div class="row">
          <div class="col-md">

          </div>
          <div class="col-md">
            <form>
                <div class="form-group">
                  <label>Username</label>
                  <input type="username" class="form-control"  placeholder="Enter Username">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" placeholder="Enter Password">
                </div>
                <a href={{url_for('dash')}}><button class="btn btn-primary">Login</button></a>
              </form>
          </div>
          <div class="col-md">
  
          </div>
        </div>
      </div>


  </div>
{% endblock %}